html,
body {
    width: 100%;
    height: 100%;
    color: #363434;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#app {
    flex: 1;
}
#footer {
    margin-top: auto;
}

.has-text-blue {
    color: #62929a;
}
.has-background-blue {
    background-color: #62929a;
}
.bulma-img {
    width: 10em;
    margin: auto;
}
.icon {
    margin-right:0.3em;
}
::-webkit-scrollbar-track {
    background-color: #62929a;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #363636;
}

::-webkit-scrollbar-thumb {
    background-color: #363636;
}
