<template>
  <div class="card">
    <div class="card-header">
      <span class="card-header-icon">
        <i class="fas fa-user" />
      </span>
      <h3 class="card-header-title is-size-3">
        {{ cliente.nombre }} {{ cliente.apellido }}
      </h3>
    </div>
    <div class="card-content">
      <div class="card-body">
        <table class="table is-narrow is-fullwidth">
          <tbody>
            <tr>
              <td>Plan</td>
              <td v-text="cliente.plan.velocidad" />
            </tr>
            <tr>
              <td>Teléfono</td>
              <td v-text="cliente.telefono" />
            </tr>
            <tr v-if="cliente.email">
              <td>E-mail</td>
              <td v-text="cliente.email" />
            </tr>
            <tr>
              <td>Dirección</td>
              <td v-text="cliente.direccion" />
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <button
          class="button is-link tooltip"
          data-tooltip="Control de pago"
        >
          <span class="icon is-small">
            <i class="fas fa-file-invoice" />
          </span>
        </button>
      </div>
      <div class="card-footer-item">
        <button
          class="button is-dark tooltip"
          data-tooltip="Editar información"
        >
          <span class="icon is-small">
            <i class="fas fa-edit" />
          </span>
        </button>
      </div>
      <div class="card-footer-item">
        <button
          class="button is-warning tooltip"
          data-tooltip="Pausar contrato"
        >
          <span class="icon is-small">
            <i class="fas fa-user-clock" />
          </span>
        </button>
      </div>
      <div class="card-footer-item">
        <button
          class="button is-danger tooltip"
          data-tooltip="Dar de baja"
          @click.prevent="borrar(cliente.id, cliente.nombre)"
        >
          <span class="icon is-small">
            <i class="fas fa-user-minus" />
          </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ClienteCard',
  props: {
      data: {
          default() {},
          type: Object
      }
  },
  data() {
    return {
      cliente: { ...this.data },
    }
  },
  created() {
  },
  methods: {
    borrar(id, cliente) {
        Swal.fire({
            title: '¿Estás seguro de quitar a ' + cliente + ' de la lista?',
            type: 'warning',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, estoy seguro',
            cancelButtonText: 'Cancelar'
        }).then( result => {
            if (result.value) {
                let url = '/clientes/' + id + '/delete'
                axios.delete(url).then(response => {
                    this.$emit('actualizar')
                    Swal.fire(
                        'Listo',
                        'El cliente ha sido quitado de la lista',
                        'success'
                    )
                })
            }
        })
    }
  }
}
</script>
