<template>
    <div id="cliente-nuevo" class="columns is-mobile is-centered is-vcentered">
        <article class="column is-6-desktop is-8-tablet">
            <form method="post" @submit.prevent="createCliente">
                <h1 class="is-size-1">
                    Registro de clientes
                </h1>

                <div class="field">
                    <label for="nombre" class="label">
                        Nombre
                    </label>
                    <div class="control">
                        <input
                            v-model="nuevoCliente.nombre"
                            type="text"
                            class="input"
                            name="nombre"
                            placeholder="Nombre/s"
                            required
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="apellido" class="label">
                        Apellido
                    </label>
                    <div class="control">
                        <input
                            v-model="nuevoCliente.apellido"
                            type="text"
                            class="input"
                            name="apellido"
                            placeholder="Apellido/s"
                            required
                        />
                    </div>
                </div>
                <div id="plan-cliente" class="field">
                    <label class="label" for="plan-cliente">
                        Plan a suscribirse
                    </label>
                    <div class="control">
                        <label
                            v-for="plan in planes"
                            :key="plan.id"
                            :for="plan.id"
                        >
                            <input
                                :id="plan.id"
                                v-model.number="nuevoCliente.planID"
                                type="radio"
                                name="plan_id"
                                :value="plan.id"
                            />
                            {{ plan.velocidad }}
                        </label>
                    </div>
                </div>
                <div class="field">
                    <label for="direccion" class="label">
                        Dirección
                    </label>
                    <div class="control">
                        <input
                            v-model="nuevoCliente.direccion"
                            type="text"
                            class="input"
                            name="direccion"
                            placeholder="Dirección"
                            required
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="telefono" class="label">
                        Teléfono
                    </label>
                    <div class="control">
                        <input
                            v-model="nuevoCliente.telefono"
                            type="text"
                            class="input"
                            name="telefono"
                            placeholder="Teléfono"
                            required
                        />
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="label">
                        E-mail
                    </label>
                    <div class="control">
                        <input
                            v-model="nuevoCliente.email"
                            type="email"
                            class="input"
                            name="email"
                            placeholder="E-mail"
                        />
                    </div>
                </div>
                <transition
                    mode="out-in"
                    enter-active-class="animated fadeIn"
                    leave-active-class="animated fadeOut"
                >
                    <div v-if="extra" key="extra" class="field">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-header-title">
                                    Bonificaciones o cargos extra
                                </div>
                                <a
                                    class="card-header-icon has-text-dark"
                                    aria-label="cerrar"
                                    @click.prevent="extra = !extra"
                                >
                                    <span class="icon">
                                        <i class="fas fa-angle-up" />
                                    </span>
                                </a>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <h5 class="is-size-5">
                                        Equipamiento
                                    </h5>
                                    <p class="help has-text-info">
                                        mensaje para orientar
                                    </p>
                                    <div
                                        v-for="(equipo, i) in equipos"
                                        :key="equipo.id"
                                        class="control"
                                    >
                                        <label :for="equipo.id">
                                            <input
                                                :id="equipo.id"
                                                v-model.number="
                                                    nuevoCliente.equipamiento[i]
                                                        .id
                                                "
                                                :true-value="equipo.id"
                                                false-value="0"
                                                type="checkbox"
                                            />
                                            {{ equipo.equipo }}
                                        </label>
                                        <input
                                            v-model.number="
                                                nuevoCliente.equipamiento[i]
                                                    .cantidad
                                            "
                                            type="number"
                                            :name="i"
                                            class="input"
                                            placeholder="Cantidad"
                                        />
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="is-size-5">
                                        Cuotas
                                    </h5>
                                    <div class="control">
                                        <input
                                            v-model.number="nuevoCliente.cuotas"
                                            type="number"
                                            name="cuotas"
                                            class="input"
                                            placeholder="Cantidad de cuotas"
                                        />
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="control">
                                        <p class="help has-text-info">
                                            Calculo de cuotas
                                        </p>
                                        <button
                                            type="button"
                                            class="button is-small is-outlined is-info"
                                            name="button"
                                        >
                                            Calculo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else key="button" class="field">
                        <button
                            class="button is-link is-inverted"
                            @click.prevent="extra = !extra"
                        >
                            <span>Extra</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" />
                            </span>
                        </button>
                    </div>
                </transition>
                <div class="field">
                    <div class="buttons">
                        <button
                            type="submit"
                            class="button is-success"
                            name="button"
                        >
                            Registrar
                        </button>
                        <button type="button" class="button" name="button">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</template>

<script>
/* global Swal: true */

import axios from 'axios'

//NuevoCliente.equipamiento provicional

export default {
    name: 'ClienteNuevo',
    data() {
        return {
            planes: [],
            equipos: [],
            nuevoCliente: {
                nombre: '',
                apellido: '',
                direccion: '',
                email: '',
                telefono: '',
                planID: '',
                equipamiento: [],
                cuotas: ''
            },
            extra: false,
            tasa: 11
        }
    },
    created() {
        this.selectPlanes()
        this.selectEquipos()
    },
    methods: {
        selectPlanes() {
            let url = '/planes/get'
            axios.get(url).then(response => {
                this.planes = response.data
            })
        },
        selectEquipos() {
            let url = '/equipos/get'
            axios.get(url).then(response => {
                this.equipos = response.data
                this.objEquipamiento(this.equipos)
            })
        },
        objEquipamiento(equipamiento) {
            equipamiento.forEach(eq => {
                var nuevo = { id: '', cantidad: '' }
                this.nuevoCliente.equipamiento.push(nuevo)
            })
        },
        createCliente() {
            let params = Object.assign({}, this.nuevoCliente)
            let url = '/clientes/store'

            axios.post(url, params).then(response => {
                this.nuevoCliente.nombre = ''
                this.nuevoCliente.apellido = ''
                this.nuevoCliente.planID = ''
                this.nuevoCliente.direccion = ''
                this.nuevoCliente.telefono = ''
                this.nuevoCliente.email = ''
                this.objEquipamiento(this.equipos)
                Swal.fire('Listo', 'Cliente registrado exitósamente', 'success')
            })
        },
        calculo() {
            //
        }
    }
}
</script>
