<template>
  <div
    id="clientes-index"
    class="columns is-multiline"
  >
    <div class="column is-full">
      <article>
        <paginate
          :list="clientes"
          :per="4"
          name="clientes"
          tag="div"
        >
          <transition-group
            class="columns is-multiline"
            tag="div"
            enter-active-class="animated fadeInLeft"
            leave-active-class="animated fadeOutRight"
          >
            <div
              v-for="cliente in paginated('clientes')"
              :key="cliente.id"
              class="column is-one-quarter-desktop is-full-mobile is-5-tablet"
            >
              <ClienteCard
                :data="cliente"
                @actualizar="actualizar"
              />
            </div>
          </transition-group>
        </paginate>
      </article>
    </div>
    <div class="column is-full is-centered">
      <nav
        class="pagination"
        role="pagination"
        aria-label="pagination"
      >
        <paginate-links
          for="clientes"
          :simple="{
            prev: 'Anterior',
            next: 'Siguiente'
          }"
          :hide-single-page="true"
          :classes="{'ul': 'pagination-list', 'ul > li.prev > a': 'pagination-previous', 'ul > li.next > a': 'pagination-next'}"
        />
      </nav>
    </div>
  </div>
</template>

<script>
import ClienteCard from './ClienteCard.vue'

export default {
  name: 'ClientesIndex',
  components: {
    ClienteCard
  },
  props: {
      data: {
          default() {[]},
          type: Array
      }
  },
  data() {
    return {
      clientes: [...this.data],
      paginate: ['clientes']
    }
  },
  methods: {
    actualizar() {
        this.$emit('actualizar')
    }
  }
}
</script>
