<template>
  <div id="clientes">
    <!-- Tabs -->
    <div class="tabs is-centered">
      <ul>
        <li
          key="tab-index"
          :class="{'is-active' : selectedTab.index}"
        >
          <a @click.prevent="tab('index')">
            <span class="icon is-small">
              <i
                class="fas fa-users"
                aria-hidden="true"
              />
            </span>
            <span>Todos los clientes</span>
          </a>
        </li>
        <li
          key="tab-nuevo"
          :class="{'is-active' : selectedTab.nuevo}"
        >
          <a @click.prevent="tab('nuevo')">
            <span class="icon is-small">
              <i
                class="fas fa-user-plus"
                aria-hidden="true"
              />
            </span>
            <span>Nuevo Cliente</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon is-small">
              <i
                class="fas fa-user-clock"
                aria-hidden="true"
              />
            </span>
            <span>Clientes inactivos</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- End Tabs -->
    <transition
      enter-active-class="animated fadeInLeft"
      leave-active-class="animated fadeOutRight"
      mode="out-in"
    >
      <section
        v-if="selectedTab.index"
        key="index"
        class="section"
      >
        <ClientesIndex
          :data="clientes"
          @actualizar="index"
        />
      </section>
      <section
        v-else-if="selectedTab.nuevo"
        key="nuevo"
        class="section"
      >
        <ClienteNuevo />
      </section>
      <section
        v-else
        class="section"
      >
        <div class="is-size-1 has-text-centered">
          Clientes
        </div>
      </section>
    </transition>
  </div>
</template>

<script>
import axios from 'axios'

import ClientesIndex from './ClientesIndex'
import ClienteNuevo from './ClienteNuevo'

export default {
  name: 'Clientes',
  components: {
    ClientesIndex,
    ClienteNuevo
  },
  data() {
    return {
      selectedTab: {
        index: false,
        nuevo: false
      },
      clientes: []
    }
  },
  created() {
    this.index()
  },
  methods: {
    index() {
      let url = '/clientes/get'

      axios.get(url).then(response => {
        this.clientes = response.data
      })
    },
    tab(tab) {
      let section = this.selectedTab
      let active = this.activeTab

      switch (tab) {
        case 'index':
          section.index = true
          section.nuevo = false
          break
        case 'nuevo':
          section.index = false
          section.nuevo = true
          break
        default:
          break
      }
    }
  }
}
</script>
