<template>
    <div id="" class="columns is-mobile is-centered is-vcentered">
        <article class="column is-6-desktop is-8-tablet">
            <form method="post" @submit.prevent="nuevoEquipo">
                <h1 class="is-size-1">
                    Nuevo Equipo
                </h1>

                <div class="field">
                    <label for="equipo" class="label">
                        Equipo
                    </label>
                    <input
                        v-model="equipamiento.equipo"
                        type="text"
                        class="input"
                        name="equipo"
                        placeholder="Nombre del equipo"
                    />
                </div>
                <div class="field">
                    <label for="precio" class="label">
                        Precio
                    </label>
                    <input
                        v-model.number="equipamiento.precio"
                        type="text"
                        class="input"
                        name="precio"
                        placeholder="Precio del equipo"
                    />
                </div>
                <div class="field">
                    <div class="control">
                        <label for="tipo" class="label">
                            Tipo
                        </label>
                        <div class="select">
                            <select v-model="equipamiento.tipo" name="tipo">
                                <option value="Tipo 1">
                                    Tipo 1
                                </option>
                                <option value="Tipo 2">
                                    Tipo 2
                                </option>
                                <option value="Tipo 3">
                                    Tipo 3
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="unidad">
                        Unidad
                    </label>
                    <input
                        v-model="equipamiento.unidad"
                        type="text"
                        class="input"
                        name="unidad"
                        value=""
                    />
                </div>
                <div class="field">
                    <label for="cantidad" class="label">
                        Cantidad
                    </label>
                    <input
                        v-model.number="equipamiento.cantidad"
                        type="text"
                        name="cantidad"
                        class="input"
                        value=""
                    />
                </div>
                <div class="field">
                    <div class="buttons">
                        <button
                            type="submit"
                            class="button is-success"
                            name="button"
                        >
                            Añadir
                        </button>
                    </div>
                </div>
            </form>
        </article>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: 'EquipoNuevo',
    data: () => ({
        equipamiento: {
            equipo: '',
            precio: '',
            tipo: '',
            cantidad: '',
            unidad: ''
        }
    }),
    methods: {
        nuevoEquipo() {
            //formato para guardar
            this.equipamiento.precio = this.equipamiento.precio.toFixed(2)

            //formato para mostrar
            let formatoPrecio = this.equipamiento.precio.replace(
                /\d(?=(\d{3})+\.)/g,
                '$&,'
            )
            formatoPrecio = '$' + formatoPrecio

            let params = Object.assign({}, this.equipamiento)

            let message =
                'Equipo: ' +
                this.equipamiento.equipo +
                ', Precio: ' +
                formatoPrecio +
                ', Tipo: ' +
                this.equipamiento.tipo +
                ', Unidad: ' +
                this.equipamiento.unidad +
                ', Cantidad: ' +
                this.equipamiento.cantidad

            Swal.fire({
                title: '¿Los datos son correctos?',
                text: message,
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, son correctos',
                cancelButtonText: 'Cancelar'
            }).then(result => {
                if (result.value) {
                    this.$store.dispatch('addEq', params)

                    this.equipamiento.equipo = ''
                    this.equipamiento.precio = ''
                    this.equipamiento.tipo = ''
                    this.equipamiento.unidad = ''
                    this.equipamiento.cantidad = ''
                } else if (result.dismiss === Swal.DismissReason.cancel) {
                    this.equipamiento.equipo = ''
                    this.equipamiento.precio = ''
                    this.equipamiento.tipo = ''
                    this.equipamiento.unidad = ''
                    this.equipamiento.cantidad = ''
                }
            })
        }
    }
}
</script>
