<template>
    <div class="card">
        <form>
            <div class="card-header">
                <h3 class="card-header-title is-size-3">
                    <div class="field">
                        <div class="control">
                            <label for="equipo" class="label"
                                >Nombre del equipo</label
                            >
                            <input
                                v-model="equipo.equipo"
                                type="text"
                                class="input"
                                name="equipo"
                                placeholder="Nombre del equipo"
                            />
                        </div>
                    </div>
                </h3>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table class="table is-narrow is-fullwidth">
                        <tbody>
                            <tr>
                                <td>Precio</td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                v-model.number="equipo.precio"
                                                type="number"
                                                name="precio"
                                                placeholder="Precio"
                                                class="input"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Cantidad</td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                v-model.number="equipo.cantidad"
                                                class="input"
                                                name="cantidad"
                                                placeholder="Stock"
                                                type="number"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Unidad</td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                v-model="equipo.unidad"
                                                type="text"
                                                name="unidad"
                                                class="input"
                                                placeholder="Unidad de medida"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tipo
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                v-model="equipo.tipo"
                                                type="text"
                                                name="input"
                                                class="input"
                                                placeholder="Tipo de equipamiento"
                                            />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-item">
                    <button class="button is-success is-inverted">
                        <span class="icon is-small">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>Actualizar</span>
                    </button>
                </div>
                <div class="card-footer-item">
                    <button class="button is-danger is-inverted">
                        <span class="icon is-small">
                            <i class="far fa-eye-slash"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    name: 'EquipoEdit',
    props: {
        id: {
            type: Integer,
            default: null
        }
    },
    computed: {
        equipo() {
            return this.$store.getters.singleEq(this.id)
        }
    }
}
</script>
