<template>
    <div id="equipamientos">
        <!-- Tabs -->
        <div class="tabs is-centered">
            <ul>
                <li :class="{ 'is-active': isActive.index }">
                    <a @click.prevent="tab('index')">
                        <span class="icon is-small">
                            <i class="fas fa-hdd" />
                        </span>
                        <span>Equipos</span>
                    </a>
                </li>
                <li :class="{ 'is-active': isActive.nuevo }">
                    <a @click.prevent="tab('nuevo')">
                        <span class="icon is-small">
                            <i class="fas fa-plus" />
                        </span>
                        <span>
                            Nuevo Equipo
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Tabs -->
        <transition
            enter-active-class="animated fadeInLeft"
            leave-active-class="animated fadeOutRight"
            mode="out-in"
        >
            <section v-if="isActive.index" key="index" class="section">
                <EquipamientosIndex />
            </section>
            <section v-else-if="isActive.nuevo" key="nuevo" class="section">
                <EquipoNuevo />
            </section>
            <section v-else key="otro" class="section">
                <div class="is-size-1 has-text-centered">
                    Equipos
                </div>
            </section>
        </transition>
    </div>
</template>

<script>
export default {
    components: {
        EquipamientosIndex: () => import('./EquipamientosIndex'),
        EquipoNuevo: () => import('./EquipoNuevo')
    },
    data() {
        return {
            isActive: {
                index: false,
                nuevo: false
            }
        }
    },
    methods: {
        /* 
        index() {
            let url = '/equipos/get/'
            axios.get(url).then(response => {
                var equipos = response.data

                for (let index = 0; index < equipos.length; index++) {
                    let element = equipos[index]
                    Object.assign(element, { edit: false })
                }

                this.equipos = equipos
            })
        }, */
        tab(tab) {
            var active = this.isActive

            switch (tab) {
                case 'index':
                    active.index = true
                    active.nuevo = false
                    break
                case 'nuevo':
                    active.index = false
                    active.nuevo = true
                    break
                default:
                    break
            }
        }
    }
}
</script>
