<template>
    <div id="equipamientos-index" class="columns">
        <div class="column is-full">
            <article class="columns is-multiline is-mobile is-centered">
                <div
                    v-for="item in equipamiento"
                    :key="item.id"
                    class="column is-3-desktop is-4-tablet"
                >
                    <equipo-edit :id="item.id"></equipo-edit>
                    <equipo-table :data="item"></equipo-table>
                </div>
            </article>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'EquipamientosIndex',
    components: {
        EquipoEdit: () => import('./EquipoEdit'),
        EquipoTable: () => import('./EquipoTable')
    },
    computed: {
        ...mapState(['equipamiento'])
    },
    mounted() {
        this.$store.dispatch('getEq')
    }
}
</script>
