<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-header-title is-size-3" v-text="equipo.equipo" />
        </div>
        <div class="card-content">
            <div class="card-body">
                <table class="table is-narrow is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Precio</td>
                            <td>
                                {{ formatoPrecio(equipo.precio) }}
                            </td>
                        </tr>
                        <tr>
                            <td>Cantidad</td>
                            <td
                                v-text="equipo.cantidad + ' ' + equipo.unidad"
                            />
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer-item">
                <button
                    type="button"
                    class="button is-black is-inverted tooltip"
                    data-tooltip="Editar información"
                    name="editar"
                >
                    <span class="icon is-small">
                        <i class="fas fa-edit" />
                    </span>
                </button>
            </div>
            <div class="card-footer-item">
                <button
                    type="button"
                    class="button is-danger is-inverted tooltip"
                    data-tooltip="Dar de baja"
                    name="eliminar"
                >
                    <span class="icon is-small">
                        <i class="fas fa-minus" />
                    </span>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Object,
            default: () => {}
        }
    },
    data() {
        return {
            equipo: { ...this.data }
        }
    },
    methods: {
        formatoPrecio(precio) {
            let price = precio.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
            price = '$' + price
            return price
        }
    }
}
</script>

<style></style>
