<template>
    <div id="planes-index" class="columns">
        <div class="column is-full">
            <article>
                <div
                    v-for="plan in planes"
                    :key="plan.id"
                    class="column is-one-quarter-desktop is-full-mobile is-3-tablet"
                >
                    <div class="card">
                        <div class="card-header">
                            <span class="card-header-icon">
                                <i class="fas fa-tachometer-alt" />
                            </span>
                            <h3
                                class="card-header-title is-size-3"
                                v-text="plan.velocidad"
                            />
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <table class="table is-narrow is-fullwidth">
                                    <tbody>
                                        <tr>
                                            <td>Precio</td>
                                            <td>
                                                {{ formatPrice(plan.precio) }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Número de clientes suscritos
                                            </td>
                                            <td v-text="plan.clientes_count" />
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <button
                                    class="button is-link is-inverted tooltip"
                                    data-tooltip="Clientes del plan"
                                    @click.prevent="openModal(plan.id)"
                                >
                                    <span class="icon is-small">
                                        <i class="fas fa-users" />
                                    </span>
                                </button>
                            </div>
                            <div class="card-footer-item">
                                <button
                                    class="button is-black is-inverted tooltip"
                                    data-tooltip="Editar información"
                                >
                                    <span class="icon is-small">
                                        <i class="fas fa-edit" />
                                    </span>
                                </button>
                            </div>
                            <div class="card-footer-item">
                                <button
                                    class="button is-danger is-inverted tooltip"
                                    data-tooltip="Dar de baja"
                                    @click.prevent="
                                        borrar(plan.id, plan.velocidad)
                                    "
                                >
                                    <span class="icon is-small">
                                        <i class="fas fa-minus" />
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <PlanClientes :id="plan.id" :clientes="plan.clientes" />
                </div>
            </article>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import PlanClientes from './PlanClientesModal.vue'

export default {
    name: 'PlanesIndex',
    components: {
        PlanClientes
    },
    computed: {
        ...mapState(['planes'])
    },
    mounted() {
        this.$store.dispatch('getPlanes')
    },
    methods: {
        openModal(id) {
            let modal = document.getElementById(id)
            modal.classList.add('is-active')
        },
        formatPrice(price) {
            let formatoPrecio = price
                .toFixed(2)
                .replace(/\d(?=(\d{3})+\.)/g, '$&,')

            formatoPrecio = '$' + formatoPrecio

            return formatoPrecio
        }
    }
}
</script>
