<template>
  <div
    id="plan-nuevo"
    class="columns is-mobile is-centered is-vcentered is-multiline"
  >
    <div class="column is-12">
      <h1 class="is-size-1 has-text-centered">
        Añadir nuevo Plan
      </h1>
    </div>
    <article class="column is-3-desktop is-4-tablet">
      <form
        method="POST"
        @submit.prevent="nuevoPlan"
      >
        <div class="field">
          <label
            for="velocidad"
            class="label"
          >
            Velocidad
          </label>
          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-tachometer-alt" />
            </span>
            <input
              v-model.number="plan.velocidad"
              type="text"
              class="input"
              placeholder="Velocidad"
              required
            >
          </div>
        </div>
        <div class="field">
          <label
            for="precio"
            class="label"
          >
            Precio del plan
          </label>
          <div class="control has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-dollar-sign" />
            </span>
            <input
              v-model.number="plan.precio"
              type="text"
              class="input"
              placeholder="Precio"
              required
            >
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button
              type="submit"
              class="button is-success"
            >
              Añadir
            </button>
          </div>
        </div>
      </form>
    </article>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'PlanNuevo',
  data() {
    return {
      plan: {
        precio: '',
        velocidad: ''
      }
    }
  },
  methods: {
    nuevoPlan() {
      // formato para guardar
      this.plan.precio = this.plan.precio
        .toFixed(2)

      //formato para mostrar
      let formatoPrecio =   this.plan.precio.replace(/\d(?=(\d{3})+\.)/g, '$&,')
      formatoPrecio = '$' + formatoPrecio

      if (this.plan.velocidad === 1) {
        this.plan.velocidad = this.plan.velocidad + ' Mega'
      } else if (this.plan.velocidad > 1) {
        this.plan.velocidad = this.plan.velocidad + ' Megas'
      }

      let params = Object.assign({}, this.plan)

      let url = '/planes/store/'

      let message =
        'Velocidad: ' +
        this.plan.velocidad +
        ', Precio: ' +
        formatoPrecio +
        '.'

      Swal.fire({
        title: '¿Los datos son correctos?',
        text: message,
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, son correctos',
        cancelButtonText: 'Cancelar'
      }).then(result => {
        if (result.value) {
          axios.post(url, params).then(response => {
            this.plan.precio = ''
            this.plan.velocidad = ''

            Swal.fire(
              'Listo',
              'El nuevo plan ha sido añadido a la lista',
              'success'
            )

            console.log(response.data)
          })
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          this.plan.precio = ''
          this.plan.velocidad = ''
        }
      })
    }
  }
}
</script>

<style>
</style>
