<template>
    <div id="planes">
        <!-- Tabs -->
        <div class="tabs is-centered">
            <ul>
                <li :class="{ 'is-active': selectedTab.index }">
                    <a @click.prevent="tab('index')">
                        <span class="icon is-small">
                            <i class="fas fa-wifi" />
                        </span>
                        <span>Todos los planes</span>
                    </a>
                </li>
                <li :class="{ 'is-active': selectedTab.nuevo }">
                    <a @click.prevent="tab('nuevo')">
                        <span class="icon is-small">
                            <i class="fas fa-plus" />
                        </span>
                        <span>Nuevo Plan</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Tabs -->
        <transition
            enter-active-class="animated fadeInLeft"
            leave-active-class="animated fadeOutRight"
            mode="out-in"
        >
            <section
                v-if="selectedTab.index"
                key="index"
                class="section same-height"
            >
                <PlanesIndex />
            </section>
            <section
                v-else-if="selectedTab.nuevo"
                key="nuevo"
                class="section same-height"
            >
                <PlanNuevo />
            </section>
            <section v-else key="otro">
                <div class="is-size-1 has-text-centered">
                    Planes
                </div>
            </section>
        </transition>
    </div>
</template>

<script>
import PlanesIndex from './PlanesIndex.vue'
import PlanNuevo from './PlanNuevo.vue'

export default {
    name: 'Planes',
    components: { PlanesIndex, PlanNuevo },
    data() {
        return {
            selectedTab: {
                index: false,
                nuevo: false
            },
            activeTab: {
                index: false,
                nuevo: false
            },
            planes: []
        }
    },
    methods: {
        tab(tab) {
            var section = this.selectedTab
            var active = this.activeTab

            switch (tab) {
                case 'index':
                    section.index = true
                    section.nuevo = false
                    active.index = true
                    active.nuevo = false
                    break
                case 'nuevo':
                    section.index = false
                    section.nuevo = true
                    section.index = false
                    section.nuevo = true
                default:
                    break
            }
        }
    }
}
</script>
