<template>
  <div
    :id="id"
    class="modal"
  >
    <div class="modal-background" />
    <div class="modal-content">
      <div class="modal-body">
        <div
          v-for="cliente in clientes"
          :key="cliente.id"
          class="box"
        >
          <div class="media">
            <div class="media-left">
              <span class="icon is-medium is-vcentered">
                <i class="fas fa-user" />
              </span>
            </div>
            <div class="media-content">
              <div class="content">
                <h3
                  class="is-size-3"
                  v-text="cliente.nombre+' '+cliente.apellido"
                />
                <p v-text="cliente.direccion" />
                <p v-text="cliente.telefono" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="modal-close is-large"
      aria-label="close"
      @click.prevent="closeModal(id)"
    />
  </div>
</template>

<script>
export default {
  name: 'PlanClientes',
  props: ['clientes', 'id'],
  methods: {
    closeModal(id) {
      let modal = document.getElementById(id)
      modal.classList.remove('is-active')
    }
  }
}
</script>

<style>
</style>
